@page
@model FlavorFusion.Pages.MealPlans.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MealPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MealPlan.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MealPlan.Name" class="control-label"></label>
                <input asp-for="MealPlan.Name" class="form-control" />
                <span asp-validation-for="MealPlan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MealPlan.Description" class="control-label"></label>
                <input asp-for="MealPlan.Description" class="form-control" />
                <span asp-validation-for="MealPlan.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealPlan.Breakfast" class="control-label"></label>
                <input asp-for="MealPlan.Breakfast" class="form-control" />
                <span asp-validation-for="MealPlan.Breakfast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealPlan.Lunch" class="control-label"></label>
                <input asp-for="MealPlan.Lunch" class="form-control" />
                <span asp-validation-for="MealPlan.Lunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealPlan.Dinner" class="control-label"></label>
                <input asp-for="MealPlan.Dinner" class="form-control" />
                <span asp-validation-for="MealPlan.Dinner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MealPlan.CreatedAt" class="control-label"></label>
                <input asp-for="MealPlan.CreatedAt" class="form-control" />
                <span asp-validation-for="MealPlan.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MealPlan.UserName" class="control-label"></label>
                <input asp-for="MealPlan.UserName" class="form-control" />
                <span asp-validation-for="MealPlan.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
